@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

  :root {
    font-size: 1rem;
    line-height: 1.75;

    --black: #000001;
    --white: #fffffe;

    --main: #e8e4e6;
    --background: #004643;
    --headings: var(--white);
    --p: #abd1c6;
    --highlight: #f9bc60;

    color: var(--main);
    background-color: var(--background);
  }

  .bg-light-green {
    --main: #001e1d;
    --background: #abd1c6;
    --headings: var(--black);
    --p: #0f3433;
    --highlight: #e16162;
    color: var(--main);
    background-color: var(--background);
  }

  .bg-gray {
    --main: var(--black);
    --background: #e8e4e6;
    --headings: #001e1d;
    --p: #0f3433;
    --highlight: #004643;
    color: var(--main);
    background-color: var(--background);
  }
  .bg-gray button {
    color: var(--white);
  }

  a:not(.button) {
    color: var(--highlight);
    text-decoration: underline;
    font-weight: 500;
  }

  .button,
  button {
    @apply rounded-sm px-2;
    background-color: var(--highlight);
    color: var(--black);
  }

  strong {
    color: var(--highlight);
    font-weight: 600;
  }

  ol[type='A'] {
    --list-counter-style: upper-alpha;
  }

  ol[type='a'] {
    --list-counter-style: lower-alpha;
  }

  ol[type='A s'] {
    --list-counter-style: upper-alpha;
  }

  ol[type='a s'] {
    --list-counter-style: lower-alpha;
  }

  ol[type='I'] {
    --list-counter-style: upper-roman;
  }

  ol[type='i'] {
    --list-counter-style: lower-roman;
  }

  ol[type='I s'] {
    --list-counter-style: upper-roman;
  }

  ol[type='i s'] {
    --list-counter-style: lower-roman;
  }

  ol[type='1'] {
    --list-counter-style: decimal;
  }

  ol > li {
    position: relative;
    padding-left: 1.75em;
  }

  ol > li::before {
    content: counter(list-item, var(--list-counter-style, decimal)) '.';
    position: absolute;
    font-weight: 400;
    color: var(--main);
    left: 0;
  }

  ul > li {
    position: relative;
    padding-left: 1.75em;
  }

  ul > li::before {
    content: '';
    position: absolute;
    background-color: var(--main);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

  hr {
    border-color: var(--headings);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  blockquote {
    font-weight: 500;
    font-style: italic;
    color: var(--p);
    border-left-width: 0.25rem;
    border-left-color: var(--highlight);
    quotes: '\201C''\201D''\2018''\2019';
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

  blockquote p:first-of-type::before {
    content: open-quote;
  }

  blockquote p:last-of-type::after {
    content: close-quote;
  }

  h1 {
    color: var(--headings);
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }

  h2 {
    color: var(--headings);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  h3 {
    color: var(--headings);
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  h4 {
    color: var(--headings);
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  figure figcaption {
    color: var(--headings);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

  code {
    color: var(--headings);
    font-weight: 600;
    font-size: 0.875em;
  }

  code::before {
    content: '`';
  }

  code::after {
    content: '`';
  }

  a code {
    color: var(--headings);
  }

  pre {
    color: var(--black);
    background-color: var(--white);
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding-top: 0.8571429em;
    padding-right: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-left: 1.1428571em;
  }

  pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  pre code::before {
    content: none;
  }

  pre code::after {
    content: none;
  }

  table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

  thead {
    color: var(--headings);
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: #d1d5db;
  }

  thead th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

  tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: var(--p);
  }

  tbody tr:last-child {
    border-bottom-width: 0;
  }

  tbody td {
    vertical-align: top;
    padding-top: 0.5714286em;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  img {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  video {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 code {
    font-size: 0.875em;
  }

  h3 code {
    font-size: 0.9em;
  }

  ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ul > li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  ul > li > *:first-child {
    margin-top: 1.25em;
  }

  ul > li > *:last-child {
    margin-bottom: 1.25em;
  }

  ol > li > *:first-child {
    margin-top: 1.25em;
  }

  ol > li > *:last-child {
    margin-bottom: 1.25em;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  hr + * {
    margin-top: 0;
  }

  h2 + * {
    margin-top: 0;
  }

  h3 + * {
    margin-top: 0;
  }

  h4 + * {
    margin-top: 0;
  }

  thead th:first-child {
    padding-left: 0;
  }

  thead th:last-child {
    padding-right: 0;
  }

  tbody td:first-child {
    padding-left: 0;
  }

  tbody td:last-child {
    padding-right: 0;
  }
}
